<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="index" patternSyntax="ExactMatch">
                    <match url="index" />
                    <action type="Rewrite" url="index.html" />
                </rule>
		<rule name="admin" patternSyntax="ExactMatch">
                    <match url="admin" />
                    <action type="Rewrite" url="admin.html" />
                </rule>
		<rule name="glossary" patternSyntax="ExactMatch">
                    <match url="glossary" />
                    <action type="Rewrite" url="glossary.html" />
                </rule>
		<rule name="home" patternSyntax="ExactMatch">
                    <match url="home" />
                    <action type="Rewrite" url="home.html" />
                </rule>
		<rule name="material" patternSyntax="ExactMatch">
                    <match url="material" />
                    <action type="Rewrite" url="material.html" />
                </rule>
		<rule name="news" patternSyntax="ExactMatch">
                    <match url="news" />
                    <action type="Rewrite" url="news.html" />
                </rule>
		<rule name="resilience" patternSyntax="ExactMatch">
                    <match url="resilience" />
                    <action type="Rewrite" url="resilience.html" />
                </rule>
		<rule name="statistics" patternSyntax="ExactMatch">
                    <match url="statistics" />
                    <action type="Rewrite" url="statistics.html" />
                </rule>
		<rule name="surveyCE" patternSyntax="ExactMatch">
                    <match url="surveyCE" />
                    <action type="Rewrite" url="surveyCE.html" />
                </rule>
		<rule name="surveyMD" patternSyntax="ExactMatch">
                    <match url="surveyMD" />
                    <action type="Rewrite" url="surveyMD.html" />
                </rule>
		<rule name="videos" patternSyntax="ExactMatch">
                    <match url="videos" />
                    <action type="Rewrite" url="videos.html" />
                </rule>
		<rule name="tips" patternSyntax="ExactMatch">
                    <match url="tips" />
                    <action type="Rewrite" url="tips.html" />
                </rule>
		<rule name="cultural/argentina" patternSyntax="ExactMatch">
                    <match url="cultural/argentina" />
                    <action type="Rewrite" url="cultural/argentina.html" />
                </rule>
		<rule name="cultural/mexico" patternSyntax="ExactMatch">
                    <match url="cultural/mexico" />
                    <action type="Rewrite" url="cultural/mexico.html" />
                </rule>
		<rule name="cultural/chile" patternSyntax="ExactMatch">
                    <match url="cultural/chile" />
                    <action type="Rewrite" url="cultural/chile.html" />
                </rule>
		<rule name="cultural/brasil" patternSyntax="ExactMatch">
                    <match url="cultural/brasil" />
                    <action type="Rewrite" url="cultural/brasil.html" />
                </rule>
		<rule name="policies/ccm" patternSyntax="ExactMatch">
                    <match url="policies/ccm" />
                    <action type="Rewrite" url="policies/ccm.html" />
                </rule>
		<rule name="policies/cqc" patternSyntax="ExactMatch">
                    <match url="policies/cqc" />
                    <action type="Rewrite" url="policies/cqc.html" />
                </rule>
		<rule name="admin/cultural-change" patternSyntax="ExactMatch">
                    <match url="admin/cultural-change" />
                    <action type="Rewrite" url="admin/cultural-change.html" />
                </rule>
		<rule name="admin/cultural-new" patternSyntax="ExactMatch">
                    <match url="admin/cultural-new" />
                    <action type="Rewrite" url="admin/cultural-new.html" />
                </rule>
		<rule name="admin/glossary-change" patternSyntax="ExactMatch">
                    <match url="admin/glossary-change" />
                    <action type="Rewrite" url="admin/glossary-change.html" />
                </rule>
		<rule name="admin/glossary-new" patternSyntax="ExactMatch">
                    <match url="admin/glossary-new" />
                    <action type="Rewrite" url="admin/glossary-new.html" />
                </rule>
		<rule name="admin/home-change" patternSyntax="ExactMatch">
                    <match url="admin/home-change" />
                    <action type="Rewrite" url="admin/home-change.html" />
                </rule>
		<rule name="admin/material-change" patternSyntax="ExactMatch">
                    <match url="admin/material-change" />
                    <action type="Rewrite" url="admin/material-change.html" />
                </rule>
		<rule name="admin/newsfeed-change" patternSyntax="ExactMatch">
                    <match url="admin/newsfeed-change" />
                    <action type="Rewrite" url="admin/newsfeed-change.html" />
                </rule>
		<rule name="admin/newsfeed-new" patternSyntax="ExactMatch">
                    <match url="admin/newsfeed-new" />
                    <action type="Rewrite" url="admin/newsfeed-new.html" />
                </rule>
		<rule name="admin/policies-change" patternSyntax="ExactMatch">
                    <match url="admin/policies-change" />
                    <action type="Rewrite" url="admin/policies-change.html" />
                </rule>
		<rule name="admin/policies-new" patternSyntax="ExactMatch">
                    <match url="admin/policies-new" />
                    <action type="Rewrite" url="admin/policies-new.html" />
                </rule>
		<rule name="admin/register" patternSyntax="ExactMatch">
                    <match url="admin/register" />
                    <action type="Rewrite" url="admin/register.html" />
                </rule>
		<rule name="admin/resilience-change" patternSyntax="ExactMatch">
                    <match url="admin/resilience-change" />
                    <action type="Rewrite" url="admin/resilience-change.html" />
                </rule>
		<rule name="admin/user-change" patternSyntax="ExactMatch">
                    <match url="admin/user-change" />
                    <action type="Rewrite" url="admin/user-change.html" />
                </rule>
		<rule name="admin/videos-change" patternSyntax="ExactMatch">
                    <match url="admin/videos-change" />
                    <action type="Rewrite" url="admin/videos-change.html" />
                </rule>
		<rule name="admin/videos-new" patternSyntax="ExactMatch">
                    <match url="admin/videos-new" />
                    <action type="Rewrite" url="admin/videos-new.html" />
                </rule>
		<rule name="admin/tips-change" patternSyntax="ExactMatch">
                    <match url="admin/tips-change" />
                    <action type="Rewrite" url="admin/tips-change.html" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
